body {
    background-color: #009688;
}
*{
    margin: 0;
}
main {
    width: 480px;
    margin: auto;
    border-style: outset;
}
estilos.css

estilos.css
* {
    margin: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

footer > p {
border-style: solid;
border-width: 1px;
width: 812px;
margin-left: auto;
margin-right: auto;
text-align: center;
}