#Enc {
    color: white;
    font-family: Arial;
    background-color: cadetblue;
    width: 200;
}

#Contenedor
{
    margin: 20px;
    width: 700px;


}
#Parrf1, #Barra{
    float: left;
    width: 200;
}
